nav {
  position: absolute;
  z-index: 100;
  width: $nav-size;
  height: $main-cycle-size;
  left: 50%;
  top: 50%;
  margin-left: - ($main-cycle-size + $sub-cycle-size) / 2;
  margin-top: - $main-cycle-size / 2;
  font-family: $secondary-font;

  a:hover,
  a.active {
    background: $primary-color;
    transition: $nav-transition;

    &.cycle-home {
      background: none;
    }
  }

  .line {
    display: none;
    height: 1px;
    width: $line-width;
    background: $primary-color;
    position: absolute;
    top: $main-cycle-size / 2;
    margin-left: - ($line-width - $nav-size) / 2;
    transform: rotate(-45deg);
  }

  &#home {
    .line {
      display: block;
    }
  }
}

.cycle {
  position: absolute;
  text-align: center;
  background: $secondary-color;
  border: $cycle-border solid $primary-color;
  display: block;
  left: 50%;
  box-sizing: border-box;
  box-shadow: $box-shadow;
}

.main-cycle {
  width: $main-cycle-size;
  height: $main-cycle-size;
  margin-left: - $main-cycle-size / 2;
  border-radius: $main-cycle-radius;
}

.inner-cycle {
  width: $inner-cycle-size;
  height: $inner-cycle-size;
  margin-top: ($main-cycle-size - $inner-cycle-size) / 2;
  margin-left: - $inner-cycle-size / 2;
  background: $third-color;
  font-size: $main-cycle-font-size;
  line-height: $inner-cycle-size;
  z-index: 1;
  border: none;
  border-radius: $inner-cycle-size / 2;

  &:hover {
    width: $inner-cycle-size + 5;
    height: $inner-cycle-size + 5;
    margin-top: ($main-cycle-size - ( $inner-cycle-size + 5 )) / 2;
    margin-left: - ( $inner-cycle-size + 5 ) / 2;
    line-height: $inner-cycle-size + 5;
    border-radius: ($inner-cycle-size + 5) / 2;
  }

  a {
    color: $secondary-color;
    width: $inner-cycle-size;
    height: $inner-cycle-size;
    display: block;

    &:hover {
      background: none;
      color: $secondary-color;
      width: $inner-cycle-size + 5;
      height: $inner-cycle-size + 5;
    }
  }
}

.left-cycle,
.right-cycle {
  width: $sub-cycle-size;
  height: $sub-cycle-size;
  top: ($main-cycle-size - $sub-cycle-size) / 2;
  line-height: $sub-cycle-size;
  border-radius: $sub-cycle-size / 2;
}

.left-cycle {
  margin-left: - ( $sub-cycle-size + $main-cycle-size) / 2;
}

.right-cycle {
  margin-left: ( $main-cycle-size - $sub-cycle-size ) / 2;
}

.center-button {
  background: $primary-color;
  height: $main-cycle-size / 2;
  width: $main-cycle-size;
  left: 50%;
  margin-left: - $main-cycle-size / 2;
  text-align: center;
  display: block;
  background: $secondary-color;
  border: $cycle-border solid $primary-color;
  position: absolute;
  border-radius: $main-cycle-radius $main-cycle-radius 0 0;

  span {
    display: block;
    margin-top: 15px;
  }

  &.prices {
    top: $main-cycle-size / 2;
    border-radius: 0 0 $main-cycle-radius $main-cycle-radius;

    span {
      margin-top: 100px;
    }
  }
}