article.blog {
  width: 100%;

  .read-more {
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 24px;
    top: 30px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .blog-line {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: - $services-line-size / 2;
    margin-top: - $services-line-size / 2;
    width: $services-line-size;
    height: $services-line-size;
    background: #fff;
    border: 3px solid $secondary-color;
    border-radius: $services-line-size / 2;
    box-sizing: border-box;
  }

  .blog-line-hide {
    z-index: 0;
    height: $services-line-size / 2;
    width: $services-line-size;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-left: - $services-line-size / 2;
    box-sizing: border-box;
  }

  ul {
    position: absolute;
    z-index: 1;
    display: block;
    width: 620px;
    height: 160px;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -250px;

    li {
      position: absolute;
      font-size: 18px;
      font-family: $secondary-font;

      .blog-cycle {
        position: absolute;
      }

      &.hosting {
        left: 0;
        bottom: 0;

        .blog-cycle {
          left: 52px;
          top: 12px;
        }

        span.text {
          position: relative;
          right: 10px;
        }
      }

      &.seo {
        left: 120px;
        top: 8px;

        .blog-cycle {
          left: 15px;
        }
      }

      &.design {
        right: 120px;
        top: 8px;

        .blog-cycle {
          right: 15px;
        }
      }

      &.web {
        left: 248px;
        top: -45px;

        .blog-cycle {
          left: 38px;
          top: 25px;
        }
      }

      &.copyright {
        right: -10px;
        bottom: 0;

        .blog-cycle {
          left: -34px;
          top: 12px;
        }

        span.text {
          position: relative;
          left: 10px;
        }
      }

      a:hover {
        .blog-cycle span {
          height: $services-cycle-inner-size;
          width: $services-cycle-inner-size;
          position: absolute;
          background: #000;
          left: 50%;
          top: 50%;
          margin-left: - $services-cycle-inner-size / 2;
          margin-top: - $services-cycle-inner-size / 2;
          transition: $nav-transition;
          border-radius: $services-cycle-inner-size / 2;
        }
      }
    }

    .blog-cycle {
      width: $services-cycle-size;
      height: $services-cycle-size;
      display: block;
      border: 3px solid $secondary-color;
      background: #fff;
      border-radius: $services-cycle-size / 2;
      box-sizing: border-box;
    }

    a {
      color: $secondary-color;
    }
  }
}