article.home {
  height: 100%;
  padding-top: 38px;

  h1 {
    text-align: center;
    margin-top: 0;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }

  #blog-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $primary-color;
    font-family: $secondary-font;
    text-decoration: underline;
    font-size: 24px;

    &:hover {
      text-decoration: none;
    }
  }
}