$tablet-min-width: 641px;
$tablet-max-width: 1024px;

@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  /* Menu */
  $cycle-border: 3px;
  $main-cycle-size: 280px;
  $main-cycle-font-size: 34px;
  $main-cycle-radius: $main-cycle-size / 2;
  $inner-cycle-size: $main-cycle-size / 1.618;
  $sub-cycle-size: $main-cycle-size / 1.618;
  $nav-size: $main-cycle-size + $sub-cycle-size;

  nav {
    position: absolute;
    z-index: 100;
    width: $nav-size;
    height: $main-cycle-size;
    left: 50%;
    top: 50%;
    margin-left: - ($main-cycle-size + $sub-cycle-size) / 2;
    margin-top: - $main-cycle-size / 2;

    a.active {
      background: $primary-color;
    }

    .line {
      height: 1px;
      width: $line-width;
      background: $primary-color;
      position: absolute;
      top: $main-cycle-size / 2;
      margin-left: - ($line-width - $nav-size) / 2;
      transform: rotate(-45deg);
    }
  }

  .cycle {
    position: absolute;
    text-align: center;
    background: $secondary-color;
    border: $cycle-border solid $primary-color;
    display: block;
    left: 50%;
    box-sizing: border-box;
    box-shadow: $box-shadow;
  }

  .main-cycle {
    width: $main-cycle-size;
    height: $main-cycle-size;
    margin-left: - $main-cycle-size / 2;
    border-radius: $main-cycle-radius;
  }

  .inner-cycle {
    width: $inner-cycle-size;
    height: $inner-cycle-size;
    margin-top: ($main-cycle-size - $inner-cycle-size) / 2;
    margin-left: - $inner-cycle-size / 2;
    background: $third-color;
    font-family: $primary-font;
    font-size: $main-cycle-font-size;
    line-height: $inner-cycle-size;
    z-index: 1;
    border: none;
    border-radius: $inner-cycle-size / 2;
  }

  .left-cycle,
  .right-cycle {
    width: $sub-cycle-size;
    height: $sub-cycle-size;
    top: ($main-cycle-size - $sub-cycle-size) / 2;
    line-height: $sub-cycle-size;
    border-radius: $sub-cycle-size / 2;
  }

  .left-cycle {
    margin-left: - ( $sub-cycle-size + $main-cycle-size) / 2;
  }

  .right-cycle {
    margin-left: ( $main-cycle-size - $sub-cycle-size ) / 2;
  }

  .center-button {
    background: $primary-color;
    height: $main-cycle-size / 2;
    width: $main-cycle-size;
    left: 50%;
    margin-left: - $main-cycle-size / 2;
    text-align: center;
    display: block;
    background: $secondary-color;
    border: $cycle-border solid $primary-color;
    position: absolute;
    border-radius: $main-cycle-radius $main-cycle-radius 0 0;

    span {
      display: block;
      margin-top: 15px;
    }

    &.prices {
      border-radius: 0 0 $main-cycle-radius $main-cycle-radius;
      top: $main-cycle-size / 2;

      span {
        margin-top: 100px;
      }
    }
  }
}